*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  background-color: #f0d290;
  margin: 0;
  padding: 0;
}
.title {
  font-size: 50px;
  text-align: center;
  color: #781d42;
}
.subtitle {
  font-size: 35px;
  text-align: center;
  color: #781d42;
}
.doughnut {
  width: 500px;
  margin: 0 auto;
}
.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 20px;
}
.countries {
  color: #781d42;
}
.confirmed {
  color: #a3423c;
  margin-right: 100px;
  margin-left: 20px;
}
.deaths {
  color: #de834d;
}
